<!DOCTYPE html>
<html>

	<head>
		<title>WriteStart</title>

		<% include partials/head %>

	</head>

	<body>
		<% include partials/headerBar %>

		<div class="container" id="page-wrapper">
			<header>
				
			</header>








			
			<footer>
				<!-- -->
			</footer>
		</div>
	</body>
</html>