<!--
////////////////////////////////////////////////////////////

					     Write-Start
						Index - HTML

////////////////////////////////////////////////////////////
-->

<!DOCTYPE html>
<html>

	<head>

		<title>WriteStart</title>

		
			<!-- jQuery -->
		<script src="/vender/jquery/dist/jquery.min.js"></script>
			<!-- Underscore -->
		<script src="/vender/underscore/underscore-min.js"></script>
			<!-- Bootstrap JS -->
		<script src="/vender/bootstrap/dist/js/bootstrap.min.js"></script>
			<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/vender/bootstrap/dist/css/bootstrap.min.css">

			<!-- Local -->
		<script src="/statis/JS/app.js"></script>	
		<link rel="stylesheet" href="/static/CSS/main.css">	

	</head>

	<body>
		<header>
			<div class="page-header">
				<h1>Hello <small>World</small></h1>
		</header>

		<!-- Content -->

		<footer>
		</footer>
	</body>

</html>





<!-- 
///////////////////////////////////////////////////////////////////

/////////// Notes



////////////////////////////////////////////////////////////////////

/////////// Snippets



///////////////////////////////////////////////////////////////////
-->