<!--
////////////////////////////////////////////////////////////

					     Write-Start
						Log In - HTML

////////////////////////////////////////////////////////////
-->

<!DOCTYPE html>
<html>

	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>WriteStart | LogIn</title>

		
			<!-- jQuery -->
		<script type="text/javascript" src="/vender/jquery/dist/jquery.min.js"></script>
			<!-- Underscore -->
		<script type="text/javascript" src="/vender/underscore/underscore-min.js"></script>
			<!-- Bootstrap JS -->
		<script type="text/javascript" src="/vender/bootstrap/dist/js/bootstrap.min.js"></script>
			<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/vender/bootstrap/dist/css/bootstrap.min.css">

			<!-- Local -->
		<script type="text/javascript" src="/static/JS/app.js"></script>	
		<link rel="stylesheet" href="/static/CSS/main.css">	

	</head>

	<body>
		<div class="container" id="page-wrapper">
			<header>
				<div class="page-header">
					<h1>Log In <small>or Sign Up</small></h1>
				</div>
			</header>

			<!-- <button type="submit" class="btn-lg btn-primary" method="POST" action="/signup">Sign Up</button> -->

			<a href="/signup"><button class="btn-lg btn-succress">Sign Up</button></a>

			<a href="/"><button class="btn-lg btn-info">Home</button></a>


			<!-- Content -->

			<footer>
			</footer>
		</div>
		
	</body>