<!DOCTYPE html>
<html>

	<head>
		<title>You Know What You Did</title>

		<% include partials/head %>

		<link rel="stylesheet" href="/static/CSS/nope.css">

	</head>

	<body>
		<% include partials/headerBar %>

		<div class="container" id="page-wrapper">
			<header>
				<div class="page-header" id="what">
					<h1 id="yell">What Did I Say!?!?</h1>
				</div>
			</header>

			<div class="jumbotron" id="nope">
				<img src="/static/img/dean_w.gif" alt="You know what you did!">
			</div>
			
			<footer>
				<!-- -->
			</footer>
		</div>
	</body>
</html>