<!--
////////////////////////////////////////////////////////////

					     Write-Start
						Log In - HTML

////////////////////////////////////////////////////////////
-->

<!DOCTYPE html>
<html>

	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>- !!! -</title>

		
			<!-- jQuery -->
		<script type="text/javascript" src="/vender/jquery/dist/jquery.min.js"></script>
			<!-- Underscore -->
		<script type="text/javascript" src="/vender/underscore/underscore-min.js"></script>
			<!-- Bootstrap JS -->
		<script type="text/javascript" src="/vender/bootstrap/dist/js/bootstrap.min.js"></script>
			<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/vender/bootstrap/dist/css/bootstrap.min.css">

			<!-- Local -->
		<script type="text/javascript" src="/static/JS/app.js"></script>	
		<link rel="stylesheet" href="/static/CSS/nope.css">	

	</head>

	<body>
		<div class="container" id="page-wrapper">
			<header>
				<div class="page-header" id="what">
					<h1 id="yell">What Did I Say!?!?</h1>
				</div>	
			</header>

			<div class="jumbotron" id="nope">
				<img src="/static/img/dean_w.gif" alt="You know what you did!">
			</div>

			<!-- Content -->

			<footer>
			</footer>
		</div>
		
	</body>
</html>