<!--
////////////////////////////////////////////////////////////

					     Write-Start
						Sign Up - HTML

////////////////////////////////////////////////////////////
-->

<!DOCTYPE html>
<html>

	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>WriteStart | Sign Up</title>

		
			<!-- jQuery -->
		<script type="text/javascript" src="/vender/jquery/dist/jquery.min.js"></script>
			<!-- Underscore -->
		<script type="text/javascript" src="/vender/underscore/underscore-min.js"></script>
			<!-- Bootstrap JS -->
		<script type="text/javascript" src="/vender/bootstrap/dist/js/bootstrap.min.js"></script>
			<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/vender/bootstrap/dist/css/bootstrap.min.css">

			<!-- Local -->
		<script type="text/javascript" src="/static/JS/app.js"></script>	
		<link rel="stylesheet" href="/static/CSS/main.css">	
		<link rel="stylesheet" href="/static/CSS/signup.css">	

	</head>

	<body>
		<div class="container" id="page-wrapper">
			<header>
				<div class="page-header">
					<h1>Sign up <small>or LogIn</small></h1>
				</div>
			</header>
			
			<div id="formContainer">
				<form method="POST" action="/signup">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="First Name" name="user[firstName]">
							<br/>
						<input type="text" class="form-control" placeholder="Last Name" name="user[lastName]">
							<br/>
						<input type="text" class="form-control" placeholder="Username" name="user[userName]">
							<br/>
						<input type="text" class="form-control" placeholder="Email" name="user[email]">
							<br/>
						<input type="password" class="form-control" placeholder="Password" name="user[password]">
							<br/>
						<label>
	      					<input type="checkbox" id="rememberUser"> Remember Me
	   					</label>

						<button class="btn btn-default" type="submit">Sign Up</button>
					</div>
				</form>
				<p>Already have an account? <a href="/login">Log In</a></p>
			</div>

			<!-- <button type="submit" class="btn-lg btn-success" method="POST" action="/login">LogIn</button> -->

			<a href="/login"><button class="btn btn-lg btn-primary">LogIn</button></a>

			<a href="/"><button class="btn btn-lg btn-info">Home</button></a>


			<!-- Content -->

			<footer>
			</footer>
		</div>
		
	</body>
</html>




<!--
////////////////////////////////////////////////////////////////////

//// notes

	-design: Have the picture I took a while ago of the edited page and have it as the background of the page. Starting aboove the sign up form, it will fade as it goes down, eventually being completely invisible.

////////////////////////////////////////////////////////////////////
-->