/* 	jc - When releasing production code,
		sweep your project for ghosts and
		fragments that are unused and remove them;
		it speeds up the deployment process. 
*/
body {
	background-color: lightgrey;
}

#what {
	text-align: center;
}

#yell {
	font-size: 120px;
	font-family: serif;
}

#nope {
	text-align: center;
}
